.certificate {
  display: grid;
  grid-template-columns: 90% 10%;
  padding: 5px 60px 5px 60px;
  text-align: left;
  width: 100vw;
  margin-bottom: -50px;
}

.certification_container {
  display: flex;

  box-sizing: border-box;

  text-align: left;
  width: 80vw;
  margin: 60px auto;
  font-size: 20px;
  line-height: 1.75em;
}

.cert_icon {
  font-size: 160;
}
