.landingScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  line-height: 1.75em;
  margin: 0 auto;
  /* background-color: rgb(70, 0, 128); */
  font-size: 18px;
}

/* .my_bio {
  background-color: greenyellow;
} */

.logo {
  width: 500px;
  height: auto;
  background-color: red;
}
