.landingScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  line-height: 1.75em;
  margin: 0 auto;
  font-size: 18px;
}

.picture {
  width: 100vw;
  margin: 20px auto;
  height: auto;
}

@media screen and (min-width: 769px) {
  .landingScreen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-around; */
    align-items: center;
    width: 80vw;
    line-height: 1.75em;
    margin: 0 auto;
    font-size: 18px;
  }
  .my_bio {
    width: 40vw;
  }

  .picture {
    display: flex;
    width: 500px;
    height: auto;
    margin: 20px auto;
  }
}
