.service_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}

.services {
  display: flex;
  padding: 5px 60px 5px 60px;
  flex-wrap: wrap;
  text-align: left;
  width: 80vw;
  margin: 60px auto;
  font-size: 20px;
  line-height: 1.75em;
}

.service {
  width: 300px;
  padding: 15px;
  min-height: 350px;
  margin: 20px 10px 20px 0;
}

.icon_here {
  display: flex;
  margin: 10px auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* color: #303f9f; */
  color: #c51162;

  font-size: 40px;
  /* border: 0.3px solid rgb(202, 198, 198); */
}
